<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/graphs.css">
</head>
<nav id="index">
    <header>Menu:</header>
    <ol>
        <a href="index.html">
            <li>🏠 Main page</li>
        </a>
        <a href="data_form_income.html">
            <li>📝 Income ➕</li>
            <a href="data_form_outcome.html">
                <li>📝 Outcome ➖</li>
            </a>
            <a href="analysis.html">
                <li>🧐 Analysis
                </li>
            </a>
            <a href="graphs.html">
                <li>📊 Graphs
                </li>
            </a>
        </a>
        <a href="logout.html">
            <li> 😥 Logout
            </li>
        </a>
    </ol>
</nav>
<!-- Main content -->
<main id="main-doc">
    <section class="main-section" id="introduction">
        <header>Graphs:</header>
        <ul>
            <tr>
                <p><b>Welcome jorge10 🤑</b></p>
            </tr>
            <li>📊 Graph 1: Vertical bar chart of otcomes per month in 2019:</li>
            <a href="graphs1.html">
                <button id="submit_graph1" type="submit_graph1">Submit graph 1 </button>
            </a>
        </ul>
        <p><i>📩 Please in case of any question do not hesitate to contact the administrator: admin@gmailp.com</i></p>

</html>
<style type=" text/css ">
    #submit_graph1 {
        background-color: #09f7c3e7;
        border-radius: 4px;
        color: black;
        font-size: 1em;
        height: 30px;
        width: 200px;
        margin: 10px;
        border: 2px solid;
        border-radius: 50px;
    }
</style>