<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<nav id="index">
    <header>Menu:</header>
    <ol>
        <a href="index.html">
            <li>🏠 Main page</li>
        </a>
        <a href="data_form_income.html">
            <li>📝 Income ➕</li>
            <a href="data_form_outcome.html">
                <li>📝 Outcome ➖</li>
            </a>
            <a href="analysis.html">
                <li>🧐 Analysis
                </li>
            </a>
            <a href="graphs.html">
                <li>📊 Graphs
                </li>
            </a>
        </a>
        <a href="logout.html">
            <li> 😥 Logout
            </li>
        </a>
    </ol>
</nav>
<!-- Main content -->
<main id="main-doc">
    <section class="main-section" id="introduction">
        <header>Main page:</header>
        <article>
            <p> Welcome to
                <b> Expenses tracker </b> web app.</p>
            <p>This web app could give you a web tool that would allow you to introduce your incomes and outcomes, then you will be able to analyse this data, being able to check how the money was spent, the current balance, but also plot the data in a graph.</p>
            <p> You can find below more details about the screens of this app:</p>
            <li>🔐 <u><b>Login page:</b></u> You will be able to introduce your user and password.</li>
            <li>🏠 <u><b>Main page:</b></u> Description of the functionalities.</li>
            <li>📝 <u><b>Income</b></u> You can access to the form in order to introduce the income.</li>
            <li>📝 <u><b>Outcome:</b></u> You can access to the form in order to introduce the outcome.</li>
            <li>🧐 <u><b>Analysis:</b></u> It would allow the user to make some data analysis of the data introduced, such as check: current balance, amount spent, income per month...</li>
            <li>📊 <u><b>Graphs:</b></u> You will be able to create somo graph, in order to visualize the data introduced.</li>
            <p><i>📩 Please in case of any question do not hesitate to contact the administrator: admin@gmailp.com</i></p>

</html>

<style type="text/css">
    html,
    body {
        background-image: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
        background-repeat: repeat;
        background-position: center;
        background-attachment: flex;
        min-width: 290px;
        font-family: 'Raleway', Helvetica, sans-serif;
        line-height: 1.5;
    }
</style>